{% extends "base.html" %}
{% block content %}
{% load custom_filters %}
<style>
    .directory, .file {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
         display: flex;
        align-items:stretch;
        justify-content: space-between;
    }
    .text-group {
        display: flex;
        align-items: center;
        flex-grow: 1; /* Add this line */
    }
    .icon {
        margin-right: 10px;
        font-size: 24px;
    }
    .directory:hover, .file:hover {
        background-color: #f0f0f0;
    }
    a {
        text-decoration: none;
        color: #333;
    }
    a:hover {
        text-decoration: underline;
    }
    .delete-button {
        /* Additional styling for delete buttons if needed */
        white-space: nowrap; /* Ensure the button text does not wrap */
    }
</style>

</head>
<body>



<br>
        
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'list_ftp_files' '' %}">Root</a></li>
                {% for breadcrumb_path, part in breadcrumb_paths %}
                    {% if forloop.last %}
                        <li class="breadcrumb-item active" aria-current="page">{{ part }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'list_ftp_files' breadcrumb_path|urlencode %}">{{ part }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        
{% if dirs %}
    <div>
        {% for encoded_dir, dir in dirs %}
        <!-- Directory card -->
        <div class="directory">
            <div class="text-group">
                <i class="icon fas fa-folder"></i>
                <a href="{% url 'list_ftp_files' link_path|add:encoded_dir %}">{{ dir }}</a>
            </div>
        <!-- For deleting directories -->
        <form action="{% url 'delete_directory' current_path encoded_dir %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this directory and all its contents?');"><i class="fa-duotone fa-trash"></i></button>


            
        </form>
        </div>
    {% endfor %}



    </div>
{% endif %}


    
    
{% for file in files %}
<!-- File card -->
<div class="file">
    <div class="text-group">
        <i class="icon fas fa-file"></i>
        <a href="{% url 'download_file' current_path|add:file %}">{{ file }}</a>
    </div>
    <!-- For deleting files, ensure `file` is URL-encoded -->
    <!-- Assuming you want to apply the custom filter to 'file' -->
    <form action="{% url 'delete_file' file|urlquote %}" method="post" style="display:inline;">
        {% csrf_token %}
        <input type="hidden" name="current_path" value="{{ current_path }}">
        <button type="submit" class="delete-button">Delete</button>
    </form>
</div>
{% endfor %}


  

    <!-- Upload Form -->
    <form action="{% url 'upload_file' current_path %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file_upload" required>
        <input type="hidden" name="current_path" value="{{ current_path }}">
        <button type="submit"><i class="fa-regular fa-cloud-arrow-up"></i> Upload File</button>
    </form>

    <!-- Create directory form -->
    <form action="{% url 'create_directory' current_path %}" method="post">
        {% csrf_token %}
        <label for="new_dir_name">New Directory Name:</label>
        <input type="text" id="new_dir_name" name="new_dir_name" required>
        <button type="submit">Create Directory</button>
    </form>
    
    
{% endblock content %}
</body>