{% extends "base.html" %}
{% block content %}
{% load custom_filters %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'ftpmanager/css/styles.css' %}" />
    
    
</head>
<body>
    <input type="hidden" name="current_path" value="{{ current_path }}">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'list_ftp_files' '' %}">Root</a></li>
            {% for breadcrumb_path, part in breadcrumb_paths %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active" aria-current="page">{{ part }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'list_ftp_files' breadcrumb_path|urlencode %}">{{ part }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    {% if dirs %}
    <div>
        {% for encoded_dir, dir in dirs %}
        <div class="directory" data-enc-dir="{{ encoded_dir }}">
            <div class="text-group">
                <i class="icon fas fa-folder"></i>
                <a href="{% url 'list_ftp_files' link_path|add:encoded_dir %}">{{ dir }}</a>
            </div>
            <form action="{% url 'delete_directory' current_path encoded_dir %}" method="post" class="form-hidden" style="display:inline;">
                {% csrf_token %}
            </form>
        </div>
        {% endfor %}
    </div>

    <!-- Placeholder for directory custom menu -->
    <div id="customMenu" style="display: none; position: absolute; z-index: 1000; background-color: #f9f9f9; border: 1px solid #ccc; box-shadow: 3px 3px 5px #888888; padding: 10px; border-radius: 5px;">
        <!-- Custom menu content for directories goes here -->
    </div>
    <!-- Placeholder for form custom menu -->
    <div id="formCustomMenu" style="display: none; position: absolute; z-index: 1000; background-color: #f9f9f9; border: 1px solid #ccc; box-shadow: 3px 3px 5px #888888; padding: 10px; border-radius: 5px;">
        <!-- Custom menu content for forms goes here -->
    </div>
{% endif %}


<!-- Adjusted File Element with Deletion Form -->
{% for file in files %}
<div class="file" data-file-name="{{ file }}">
    <div class="text-group">
        <i class="icon fas fa-file"></i>
        <a href="{% url 'download_file' current_path|join_path:file %}">{{ file|urlquote }}</a>
    </div>
    <!-- Hidden deletion form for each file -->
    <form id="delete-file-{{ file|slugify }}" action="{% url 'delete_file' file %}" method="post" style="display:none;">
        {% csrf_token %}
        <input type="hidden" name="current_path" value="{{ current_path }}">
        <!-- The submit button can be omitted since we'll submit via JavaScript -->
    </form>
</div>
{% endfor %}



<script>
    function toggleForm(formId) {
        // Select all toggle buttons
        var buttons = document.querySelectorAll('.toggle-button');
        
        // Check if the form is already visible
        var form = document.getElementById(formId);
        var isFormVisible = !form.classList.contains('form-hidden');
        
        // Toggle the form visibility
        form.classList.toggle('form-hidden');

        // Disable or enable all buttons based on the form visibility
        buttons.forEach(function(button) {
            if (isFormVisible) {
                // If the form is being hidden, re-enable all buttons
                button.disabled = false;
            } else {
                // If the form is being shown, disable all buttons except the one related to the visible form
                if (button.getAttribute('data-target') !== formId) {
                    button.disabled = true;
                }
            }
        });
    }
</script>

<!-- Button to toggle the upload form -->
<button class="btn btn-secondary toggle-button" data-target="uploadForm" onclick="toggleForm('uploadForm')"><i class="fa-solid fa-cloud-arrow-up"></i></button>
<!-- Upload Form -->
<form id="uploadForm" class="form-hidden" action="{% url 'upload_file' current_path %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file_upload" required>
    <input type="hidden" name="current_path" value="{{ current_path }}">
    <button type="submit"><i class="fa-solid fa-cloud-arrow-up"></i> Upload File</button>
</form>

<!-- Button to toggle the create directory form -->
<button class="btn btn-secondary toggle-button" data-target="createDirectoryForm" onclick="toggleForm('createDirectoryForm')"><i class="fa-solid fa-folder-plus"></i></button>
<!-- Create directory form -->
<form id="createDirectoryForm" class="form-hidden" action="{% url 'create_directory' current_path %}" method="post">
    {% csrf_token %}
    <label for="new_dir_name">New Directory Name:</label>
    <input type="text" id="new_dir_name" name="new_dir_name" required>
    <button type="submit">Create Directory</button>
</form>

<!-- Button to toggle the move file or folder form -->
<button class="btn btn-secondary toggle-button" data-target="moveForm" onclick="toggleForm('moveForm')"><i class="fa-solid fa-person-walking"></i></i></button>
<!-- Move file or folder form -->
<form id="moveForm" class="form-hidden" action="{% url 'move_file_or_folder' %}" method="post">
    {% csrf_token %}
    <label for="source">Source File/Folder:</label>
    <input type="text" id="source" name="source" required>
    
    <label for="target">Target Directory:</label>
    <input type="text" id="target" name="target" required>
    
    <button type="submit">Move</button>
</form>
<div id="customContextMenu" class="custom-context-menu" style="display: none;">
    <ul>
        <li><a href="#" id="downloadLink">Download</a></li>
        <li><a href="#" id="deleteLink">Delete</a></li>
        <!-- Add other actions as needed -->
    </ul>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'rename_file' current_path %}" method="post">
                {% csrf_token %}
        
                <input type="hidden" id="current_name" name="current_name" required>
                
                <label for="new_name">New File Name:</label>
                <input type="text" id="new_name" name="new_name" required>
                

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                
            </form>
        </div>

      </div>
    </div>
  </div>
  <script src="{% static 'ftpmanager/js/popupMenu.js' %}"></script>
</body>
{% endblock content %}
